# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Streamlit
# ==========================
.streamlit/secrets.toml

# ==========================
# Python packaging
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary files
# ==========================
*.tmp
*.temp

# ==========================
# Environment variables
# ==========================
.env
